/* Primary */
$primary: #19d1c2 /* Your given strong teal color as the base color */

$primary-bg: #E6FAF8

/* Secondary */
$secondary: #62E5D8 /* A lighter shade of the primary color for contrast and complementation */

/* Accent */
$accent: #9C27B0 /* The vibrant purple you provided */

/* Dark & Light */
$dark: #1D1D1D /* Your provided very dark gray, nearly black */
$light: #F1F1F1 /* A very light gray for backgrounds and to contrast with the dark shade */

/* Positive & Negative */
$positive: #21BA45 /* Your provided vibrant green for positive actions */
$negative: #C10015 /* Your provided strong red for negative actions */

/* Info & Warning */
$info: #31CCEC /* Your provided vibrant blue for informational messages */
$warning: #F2C037 /* Your provided warning color */
